# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración y sensibles del backend
instance/
*.sqlite
*.db

# .env
/.env

# Python / Flask
backend/venv/

# React
frontend/node_modules/
frontend/build/
frontend/.cache/
**/.cache/
*.log
node_modules/